h1{
    font-family: 'indie flower';
}

table{
    width: 600px;
    border: 2px solid brown;
}
table thead{
    background-color: cadetblue;
}
th, td{
    padding: 2px;
    margin: 2px;
}
tbody tr{
    background-color: rgb(132, 157, 202);
}

tbody tr:hover{
    background-color: yellow;
}